name: Checks

on:
  pull_request:
    branches:
      - main

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Setup env
        uses: borales/actions-yarn@v2.3.0
        with:
          cmd: install
      - name: Check lint
        run: npm run lint
